body {
background-color: #1A5276;
font-style: Times New Roman;
margin: 0px;
}

header {
background-color: #666666;
margin: 10px;
border-radius: 5px;
height:40px;
font-size: 2em;
text-align: center;
}

nav {
background-color: #666666;
border-radius: 5px;
margin: 10px;
height: 35px;
padding: 6px;
}

main {
background-color: #666666;
margin-left: 355px;
margin-right: 350px;
margin-top: 10px;
margin-bottom: 10px;
padding: 20px;
}

.aside {
background-color: #666666;
margin: 10px;
border-radius: 5px;
float: right;
width: 290;
padding: 5px;
}

.asideleft {
background-color: #666666;
margin: 10px;
border-radius: 5px;
float: left;
width: 280;
padding: 5px;
}

footer {
background-color: #666666;
margin:120px;
}
